.colorFondo{
    background-color: #0a192f;
}

.colorFondoNav{
    background-color: #0a192fb0;
    backdrop-filter: blur(10px);
}

.bg-green{
    color: #64ffda;
}

.colorTexto{
    color: #8892b0;
}

.fontColor1{
    color: #ccd6f6;
}

.fontFamily1{
    font-family: monospace;
}

.fontFamily2{
    font-family: 'Roboto', sans-serif;
}

.mainContainer{
    margin-left: 150px;
    margin-right: 150px;
}

.titleContainer{

    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 18vh;

}

.aboutMeContainer{

    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 60vh;
}

.buttonGreen{

    background-color: rgba(255, 255, 255, 0);
    color: #64ffda;
    font-family: monospace;
    text-decoration: none;
    border: 1px solid #64ffda;
    border-radius: 5px;
    transition: background-color .5s;
}

.buttonGreen:hover{

    background-color: #64ffdb1c;
    
    
}




body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #0a192f;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #4d546b;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #0a192f;  /* creates padding around scroll thumb */
  }




  .hr1{

    border-top: 1px solid #8892b0;
    width: 14vw;

  }