html{

    scroll-behavior: smooth;

}

body{
    overflow: hidden;
}

.colorFondo{
    background-color: #0a192f;
}

.colorFondoNav{
    background-color: #0a192fb0;
    backdrop-filter: blur(10px);
}

.navElement{
    transition: color .7s;
}

.navElement:hover{
    color: #64ffda;
    transition: color .7s;
}


.navbar-toggler-icon{

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28100, 255, 218, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

.divFlotante{

  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1040;
  pointer-events: none;
}

.verticalText{
  writing-mode: vertical-lr;
}

.verticalLine{

    border-right: 2px solid #ccd6f6;
    height: 100px;
    width: 39px;
    border-radius: 5%;
  
}



.bg-green{
    color: #64ffda;
}

.colorTexto{
    color: #8892b0;
}

.fontColor1{
    color: #ccd6f6;
}

.fontFamily1{
    font-family: monospace;
}

.fontFamily2{
    font-family: 'Roboto', sans-serif;
}

.mainContainer{
    margin-left: 150px;
    margin-right: 150px;
}

.titleContainer{

    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 18vh;
    margin-bottom: 35vh;

}

.newContainer{

    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 25vh;
    padding-top: 30vh;
}



/* Change img color on hover */
.imgPhoto{

    

    filter: sepia(100%) brightness(86%) hue-rotate(132deg) saturate(124%);
    -webkit-filter: sepia(100%) brightness(86%) hue-rotate(132deg) saturate(124%);
    -moz-filter: sepia(100%) brightness(86%) hue-rotate(132deg) saturate(124%);

    transition: filter .5s;

}

.imgPhoto:hover{

    filter: none;
    transition: filter .5s;

}

.imgPhotoContainer{

    box-shadow: #0a192f 20px 20px 0px -2px, #64ffda 20px 20px;
    transition: box-shadow .5s;
}

.imgPhotoContainer:hover{

    box-shadow: #0a192f 14px 14px 0px -2px, #64ffda 14px 14px;
    transition: box-shadow .5s;
}



.buttonGreen{

    background-color: rgba(255, 255, 255, 0);
    color: #64ffda;
    font-family: monospace;
    text-decoration: none;
    border: 1px solid #64ffda;
    border-radius: 5px;
    transition: background-color .5s;
}

.buttonGreen:hover{

    background-color: #64ffdb1c;
    
    
}




body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #0a192f;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #4d546b;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #0a192f;  /* creates padding around scroll thumb */
  }



  *::selection {
    background: #233554;
    color: #ccd6f6;

}

/* Firefox */
*::-moz-selection {
    background: #233554;
    color: #ccd6f6;

}



  .hr1{

    border-top: 1px solid #8892b0;
    width: 8vw;

  }


  .skillContainer{

    background-color: #112240;

  }



/* Google Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



.bigCircle{

    width: 35px;
    height: 35px;
    border: 3px solid #64ffda;
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.circle{

    width: 5px;
    height: 5px;
    background-color: #64ffda;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    -webkit-animation: circle 5s linear infinite;

}

@-webkit-keyframes circle{

    0%{
        transform: rotate(0deg) translate(-8px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(-8px) rotate(-360deg);
    }

}


#preloader{

    background: #020c1b;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 4000;
    top: 0;
    align-items: center;
    justify-content: center;

}



/* Load screen logo */


  
  .leo {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
  }
  
  .blue-orbit {
      width: 165px;
      height: 165px;
    border: 3px solid #91daffa5;
    -webkit-animation: spin3D 3s linear .2s infinite;
  }
  
  .green-orbit {
      width: 120px;
      height: 120px;
    border: 3px solid #64ffda;
    -webkit-animation: spin3D 2s linear 0s infinite;
  }
  
  .red-orbit {
      width: 90px;
      height: 90px;
    border: 3px solid #ffca91a5;
    -webkit-animation: spin3D 1s linear 0s infinite;
  }
  
  .white-orbit {
      width: 60px;
      height: 60px;
    border: 3px solid #ffffff;
    -webkit-animation: spin3D 10s linear 0s infinite;
  }
  
  .w1 {
    transform: rotate3D(1, 1, 1, 90deg);
  }
  
  .w2 {
    transform: rotate3D(1, 2, .5, 90deg);
  }
  
  .w3 {
    transform: rotate3D(.5, 1, 2, 90deg);
  }
  
  .spinner-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  /* KEYFRAMES for Logo*/

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
  
  @keyframes spin3D {
    from {
      transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
  }
  
  @keyframes configure-clockwise {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes configure-xclockwise {
    0% {
      transform: rotate(45deg);
    }
    25% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(-135deg);
    }
    75% {
      transform: rotate(-225deg);
    }
    100% {
      transform: rotate(-315deg);
    }
  }
  
  @keyframes pulse {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: .25;
      transform: scale(.75);
    }
  }


.floatDiv{

    text-align: right;
    
}

.bg-blue{
    background-color: #192c4d;
}

.newContainer2{

    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 25vh;
    padding-top: 30vh;
}




/* Media query para pantallas más pequeñas, como dispositivos móviles */
@media (max-width: 767px) {
  .formacionContainer {
    float: none !important; /* Deja de flotar */
    width: 100% !important; /* Ocupa todo el ancho disponible */
    position: static !important;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }

  .navNumbersGreen {
    visibility: hidden;
  }

  .divFlotante{
    visibility: hidden;
  }

}